.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #275cf0;
    height: 65px;
}

.toolbar_navigation {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}

.toolbar_logo {
    margin-left: 1rem;
}

.toolbar_logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.spacer {
    flex: 1;
}

.toolbar_navigation-items ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.toolbar_navigation-items li {
    padding: 0 0.5rem;
}

.toolbar_navigation-items a {
    color: #fff;
    text-decoration: none;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
    color: #55d2cd;
}