.hamburger-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;

}

.hamburger-button:focus {
    outline: none;
}

.hamburger-button_line {
    width: 30px;
    height: 2px;
    background: #fff;
}