.side-nav {
    height: 100%;
    background: #fff;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.side-nav.open {
    transform: translateX(0);
}

.side-nav ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-nav li {
    margin: 0.5rem 0;
}

.side-nav a {
    color: #275cf0;
    text-decoration: none;
    font-size: 1.2rem;
}

.side-nav a:hover,
.side-nav a:active {
    color: #55d2cd;
}

@media (min-width: 769px) {
    .side-nav {
        display: none;
    }
}